.bannerFoto
{
    position: sticky;
    margin-top: -22%;
    margin-bottom: -29.5%;
    width: 100%;
}
p
{
    color: white;
    font-family: sans-serif;
    text-align: justify;
    margin: 3%;
    font-size: x-large;
}
.red11
{
    position: absolute;
    left: 19%;
    top: 240%;
    color: green;
    text-decoration: none;
    font-size: x-large;
}
.red21
{
    position: absolute;
    left: 26.5%;
    top: 240%;
    color: green;
    text-decoration: none;
    font-size: x-large;
}
.red31
{
    position: absolute;
    left: 31.5%;
    top: 240%;
    color: green;
    text-decoration: none;
    font-size: x-large;
}